.nav-link {
    color: white;
}

.nav-link:hover{
    color:black;
}

.nav-link:focus{
    color:deeppink;
}

.logo{
    width:100px;
    height:100%;
}

.top{
    padding: 95px 0px;
    background-size: cover;
    /* webpackIgnore: true */
    background-image: url("../img/main.png");
}

.ads-category, .article-category {
    background: #008DEE;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: table;
}

.ads-data {
    font-size: 14px;
}

.ads-title {
    font-size: 22px;
    margin-top: 5px;
    color: #008DEE;
}

.flex-nowrap {
    overflow-x: scroll;
}

footer {
    background: #008DEE;
    color: white;
    min-height: 200px;
    padding:20px
}
